<!-- Top Bar Start -->
<div class="top-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-12">
                <div class="logo">
                    <a href="">
                        <h1>eAuction</h1>
                        <!-- <img src="img/logo.jpg" alt="Logo"> -->
                    </a>
                </div>
            </div>
            <div class="col-lg-8 col-md-7 d-none d-lg-block">
                <div class="row">
                    <div class="col-4">
                        
                    </div>
                    <div class="col-4">
                        
                    </div>
                    <div class="col-4">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Top Bar End -->